@use "./variables";
// Font Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  // scroll-padding-top: xxxx; /* this pixel should match fixed header height */
  scroll-behavior: smooth;
  // scroll-padding-top: 145px;
  min-width: 200px !important;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  section {
    margin: 0 auto;
    max-width: 100vw;
  }
  section#nav_bar,
  section#hero {
    width: 100vw !important;
    max-width: none !important;
  }
  .primary-bg {
    background-color: var(--primaryColor) !important;
  }
  .secondary-bg {
    background-color: var(--secondaryColor) !important;
  }

  .color-primary {
    color: var(--primaryColor) !important;
  }

  .color-secondary {
    color: var(--secondaryColor) !important;
  }

  .fw-300 {
    font-weight: 300;
  }
  .fw-400 {
    font-weight: 400;
  }
  .fw-500 {
    font-weight: 500;
  }
  .fw-600 {
    font-weight: 600;
  }
  .fw-700 {
    font-weight: 700;
  }
}
#navbar {
  width: 100vw;
  max-width: none !important;

  a {
    color: rgba(18, 18, 18, 0.75);
    text-decoration: none;
    font-size: 1rem;
    padding: 0 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  .header-top {
    font-size: 12px;
    text-align: center;
    margin: 0;
    letter-spacing: 0.1rem;
  }

  .logo-image {
    padding: 20px 0;
  }

  .nav_links_container > button {
    font-size: 20px;
    color: white !important;
  }

  @media (min-width: 768px) {
    .hamburger-react {
      display: none !important;
    }
  }

  @media (max-width: 425px) {
    .hamburger-react {
      display: block;
    }
  }
}

#hero {
  background-color: #29a18a21;

  h1 {
    font-size: clamp(2.8rem, 5vw, 4.25rem);
    line-height: 0.85;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
  }
  .price {
    font-size: 3rem;
  }
  a:hover {
    color: var(--secondaryColor);
  }
  .main-button {
    background-color: #cd3232;
    font-size: 18px;
  }
  .hero-image-container {
    margin: 0 auto;
    width: 100%;
    max-width: 25rem !important;
  }
  .hero-image {
    max-width: 15rem;
    max-height: 16rem;
    bottom: -4.5rem;
    left: -4.5rem;
    object-fit: contain;
    rotate: -7deg;
  }
  .hero-image-container::after {
    content: "";
    position: absolute;
    z-index: -55;
    width: 10rem;
    height: 11rem;
    max-width: 20rem;
    max-height: 16rem;
    background-image: url("../assets//img/cardShadow.png");
    background-size: cover;
    bottom: -6rem;
    left: -3rem;
  }
  .hero-icon {
    padding: 0 15px;

    svg {
      width: 50px;
      height: 50px;
      margin-bottom: 8px;
    }
  }
  @media (max-width: 512px) {
    .hero-top {
      order: -1;
      margin-top: 40px;
    }
    .hstack {
      flex-direction: column;
    }
  }
}
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: white;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
.separator {
  height: 10px;
  margin: 40px 0;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(
    to right,
    var(--primaryColor),
    var(--secondaryColor)
  );
}

.benefit-item {
  min-height: 5rem;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.membresia {
  // position: relative;
  margin-bottom: 200px;
}
.membresia::after {
  content: "";
  // position: absolute;
  top: -5.5rem;
  left: -9rem;
  width: 14rem;
  height: 11rem;
  background-image: url("/src//assets/img/benefitsArrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  rotate: 18deg;
}
#benefits {
  // position: relative;
  h5 {
    padding-top: 4rem;
    position: relative;
  }

  h5::after {
    content: "";
    position: absolute;
    bottom: -1.8rem;
    right: -10rem;
    width: 3rem;
    height: 3rem;
    background-image: url("/src//assets//img/benefitsCircles.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  @media (max-width: 768px) {
    // .membresia::after {
    //   // display: none;
    // }

    h5::after {
      right: 0rem;
      bottom: -2.5rem;
    }
  }
  @media (max-width: 712px) {
    width: 90%;
    // margin: 5px;
  }
  // .benefit-item {
  //   min-height: 5rem;
  //   border-top-left-radius: 12px;
  //   border-bottom-right-radius: 12px;

  //   .h6 {
  //     max-width: 80%;
  //     font-size: 20px;
  //     line-height: 1.5;
  //   }
  //   svg {
  //     width: 50px;
  //     height: 50px;
  //   }
  // }
}

#pricing {
  position: relative;
  border: 4px solid #6ab598;
  border-radius: 12px;
  // -webkit-margin-top: 70rem;
  // margin-top: 25rem;
  .main-button {
    max-width: fit-content;
    background-color: #cd3232;
  }

  p {
    line-height: 1.65;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -3.2rem;
    right: 0rem;
    width: 3rem;
    height: 3rem;
    background-image: url("/src//assets/img/pricingKidney.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 60%;
  }
  @media (max-width: 768px) {
    // .membresia::after {
    //   display: none;
    // }
    h5::after {
      right: 0rem;
      bottom: -2.5rem;
    }
  }
  @media (max-width: 712px) {
    width: 90%;
  }
}

#contact_form {
  input {
    border: 1px solid;
    border-color: black;
    border-radius: 4px;
  }
  .inputContainer {
    max-width: 600px;
  }
}

.footer-left {
  h6 {
    color: #fff;
    a {
      color: white;
      opacity: 80%;
      text-decoration: underline;

      padding: 0 10px;
      transition: ease;
      transition-duration: 100ms;
    }
    a:hover {
      color: white;
      opacity: 100%;
      font-weight: 300;
    }
  }
}

.footer-right {
  h6 {
    color: white;
    opacity: 70%;
    transition: linear;
    animation-duration: 50ms;

    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
      color: white;
      opacity: 100%;
    }
  }
  h6:hover {
    opacity: 100%;
    font-weight: 300;
  }
}

.bottom-text {
  font-size: 11px;

  a {
    color: white;
    font-weight: 500;
    opacity: 80%;
    transition: ease;
    transition-duration: 300ms;
  }
  a:hover {
    opacity: 100%;
  }
}
