@use "./variables";
// Font Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  scroll-behavior: smooth;
  // scroll-padding-top: xxxx; /* this pixel should match fixed header height */

  min-width: 200px !important;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  section {
    margin: 0 auto;
    // max-width: 1300px;
    max-width: 100vw;
  }
  section#nav_bar,
  section#hero {
    width: 100vw !important;
    max-width: none !important;
  }
  .primary-bg {
    background-color: var(--primaryColor) !important;
  }
  .secondary-bg {
    background-color: var(--secondaryColor) !important;
  }

  .color-primary {
    color: var(--primaryColor) !important;
  }

  .color-secondary {
    color: var(--secondaryColor) !important;
  }

  .fw-500 {
    font-weight: 500;
  }
  .fw-600 {
    font-weight: 600;
  }
  .fw-700 {
    font-weight: 700;
  }
}
#navbar {
  width: 100vw;
  max-width: none !important;

  a {
    color: rgba(18, 18, 18, 0.75);
    text-decoration: none;
    font-size: 1rem;
    padding: 0 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  .header-top {
    font-size: 12px;
    text-align: center;
    margin: 0;
    letter-spacing: 0.1rem;
  }

  .logo-image {
    padding: 20px 0;
  }

  .nav_links_container > button {
    font-size: 20px;
    color: white !important;
  }

  @media (min-width: 768px) {
    .hamburger-react {
      display: none !important;
    }
  }

  @media (max-width: 425px) {
    .hamburger-react {
      display: block;
    }
  }
}

#hero {
  background: var(--primaryColor);
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #17a488 100px
    ),
    repeating-linear-gradient(#15a186, #15a186);
  background-color: #17a488;

  h1 {
    font-size: clamp(2.8rem, 7vw, 7rem);
  }

  .hero_image-container {
    width: 100%;
    height: 100%;
  }
  .hero_image {
    max-width: 100%;
    max-height: 100%;

    object-fit: contain;
    rotate: -7deg;
  }
}

#benefits {
  .title-benefist {
    font-size: 1.125rem;
    line-height: 1.4em;
  }

  .benefits-grid {
    z-index: 2;
    display: grid !important;
    gap: 5px;
  }
  .benefits-grid-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 14px;
    color: white;
    .icon-container {
      display: flex;
      align-content: center;
      border-radius: 10px;
      margin-bottom: 15px;

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
  @media (min-width: 320px) {
    .benefits-grid {
      grid-template-columns: 1fr;
    }
  }

  @media (min-width: 768px) {
    .benefits-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 1024px) {
    .benefits-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

#pricing {
  border: 2px solid #6ab598;
}

#contact_form {
  input {
    border: 1px solid;
    border-color: black;
    border-radius: 4px;
  }
  .inputContainer {
    max-width: 600px;
  }
}

.footer-left {
  h6 {
    color: #fff;
    a {
      color: white;
      opacity: 80%;
      text-decoration: underline;

      padding: 0 10px;
      transition: ease;
      transition-duration: 100ms;
    }
    a:hover {
      color: white;
      opacity: 100%;
      font-weight: 300;
    }
  }
}

.footer-right {
  h6 {
    color: white;
    opacity: 70%;
    transition: linear;
    animation-duration: 50ms;

    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
      color: white;
      opacity: 100%;
    }
  }
  h6:hover {
    opacity: 100%;
    font-weight: 300;
  }
}

.bottom-text {
  font-size: 11px;

  a {
    color: white;
    font-weight: 500;
    opacity: 80%;
    transition: ease;
    transition-duration: 300ms;
  }
  a:hover {
    opacity: 100%;
  }
}
